# =========================
# Angular (Frontend)
# =========================
Frontend/library-app/node_modules/
Frontend/library-app/dist/
Frontend/library-app/.angular/
Frontend/library-app/.env

# =========================
# .NET (Backend)
# =========================
**/bin/
**/obj/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-error.log*
*.log

# =========================
# IDEs and editors
# =========================
.vscode/
.idea/
*.suo
*.user
*.cache
.history/

# =========================
# Miscellaneous
# =========================
.sass-cache/
coverage/

# =========================
# System files
# =========================
.DS_Store
Thumbs.db