
.sidebar {
  width: 240px;
  height: 100%;
  background: #020617;
  border-right: 1px solid #202b3d;
  padding: 16px 10px;
  display: flex;
  flex-direction: column;
}


.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-box {
  width: 50px;
  height: 50px;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

/*NAV LIST */
.nav {
  margin-top: 20px;
}

/* NAV LINKS */
.nav-link {
  color: #94a3b8;
  padding: 10px 14px;
  border-radius: 10px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease;
}

/* HOVER */
.nav-link:hover {
  background: #1e293b;
  color: white;
}

/* ACTIVE */
.nav-link.active {
  background: #2563eb;
  color: white;
  font-weight: 500;
}

/* ICON STYLE) */
.nav-link span {
  font-size: 18px;
}


/*MOBILE (RESPONSIVE) */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -240px;
    top: 0;
    z-index: 999;
    transition: 0.3s;
  }

  .sidebar.open {
    left: 0;
  }
}