<div class="search-bar">

  <span class="search-icon">🔍</span>

  <input
    class="search-input"
    [(ngModel)]="searchText"
    (input)="onSearch()"
    placeholder="Search by title, author" />

  <div class="divider"></div>

  <select class="search-select">
  <option>All genres</option>

  @for (genre of genres; track genre) {
    <option [value]="genre">{{ genre }}</option>
  }

</select>

<div class="divider"></div>

<select class="search-select">

  <option>All availability</option>

  @for (item of availabilityOptions; track item) {
    <option [value]="item">{{ item }}</option>
  }

</select>

  <button class="search-btn" (click)="onSearch()">
    Search
  </button>

</div>